<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href="/stylesheets/window.css"/>
  </head>
  <body>
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
                <li><a href="#">Miscellaneous</a></li>  
		<li class="active">Credits</li>
	</ol>	
	<div style="margin:5px;width:500px;">

	<p>Poolium is an all encompasing system for measuring and quantifying pool/aquatic related metrics. Developed by Brent Bevear as a
	HSC Software Design and Development Major Project, Poolium has since became a personal project with continuing development</p><br><br>

	<p>Founder & Developer: Brent Bevear.<br>
	Beta Testers: Nicholas Carton, Jarrod Bevear.	

	</div>
	<img src="/images/poolium.png" style="position:absolute;bottom:0px;right:0px;">

        <img src="/images/poolium.png" style="position:absolute;bottom:0px;right:0px;">

  </body>
</html>
