<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href="/stylesheets/window.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/chartstyle.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/plugins.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/Chart.js"></script>
  </head>
  
  <body>
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
		<li class="active">Graphs</li>
	</ol>	
	<div style="margin:5px;">

	<div class="btn-group btn-group-justified" style="width:50%;margin-left:auto;margin-right:auto;">
  	 <div class="btn-group">
    	   <button type="button" class="btn btn-default">Hourly</button>
  	 </div>
  	 <div class="btn-group">
    	   <button type="button" class="btn btn-default active">Daily</button>
  	 </div>
  	 <div class="btn-group">
    	   <button type="button" class="btn btn-default">3-Weekly</button>
  	 </div>
	  <div class="btn-group">
           <button type="button" class="btn btn-default">Monthly</button>
         </div>

	</div>


                    <div class="graphs">
                        <div id="box1">
			<b>Current pH: </b> 7.6
                                <canvas id="ph"></canvas>
                        </div>
                	<br>
		        <div id="box2">
			<b>Current Temperature: </b> 21.5°C
				  <canvas id="disolvedoxygen"></canvas>
                        </div>
			<br>
                        <div id="box3">
			<b>Current Salinity: </b>
				  <canvas id="salinity2"></canvas>
                        </div>
			<br>
                        <div id="box4">
			<b>Current DO: </b>
				  <canvas id="salinity"></canvas>
                        </div>
                    </div>
	

  </body>
</html>
