<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href="/stylesheets/window.css"/>
  </head>
  <body>
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
                <li><a href="#">Miscellaneous</a></li>  
		<li class="active">Information</li>
	</ol>	
	<div style="margin:5px;">
	<b>General System Information</b><br><br>
	<p style="line-height:30px;">
	Node.js Version: <%= node %><br>
	Kernel Version: <%= kernel %><br>
	CPU: <%= cpu %><br>
	Poolium Version: 0.1.11
	</p>
	</div>

        <img src="/images/poolium.png" style="position:absolute;bottom:0px;right:0px;">

  </body>
</html>
