<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href="/stylesheets/window.css"/>
  </head>
  <body>
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
                <li><a href="#">Settings</a></li>  
		<li class="active">Notifications</li>
	</ol>	
	<div style="margin:5px;">
	<div class="alert alert-success" role="alert"><b>Awesome! </b>Settings saved successfully!</div>	
	

	Phone Number: 
	<div class="input-group" style="max-width:500px;">
  		<span class="input-group-addon">04</span>
  		<input type="text" class="form-control">
	</div>
	<br>
	pH Notification Trigger:
        <div class="input-group" style="max-width:500px;">
                <span class="input-group-addon">pH</span>
                <input type="text" class="form-control" placeholder="7.6">
        </div>
	<br>
	Temperature Notification Trigger:
        <div class="input-group" style="max-width:500px;">
                <span class="input-group-addon">°C</span>
                <input type="text" class="form-control" placeholder="30">
        </div>
	<br>
        <br>
        Salinity Warning Trigger:
        <div class="input-group" style="max-width:500px;">
                <span class="input-group-addon">ppm</span>
                <input type="text" class="form-control" placeholder="10000">
        </div>
        <br>
        Dissolved Oxygen Warning Trigger:
        <div class="input-group" style="max-width:500px;">
                <span class="input-group-addon">mg/L</span>
                <input type="text" class="form-control" placeholder="7.45">
        </div>




        Prowl API Key:
        <div class="input-group">
        <input type="text" class="form-control" style="width:500px;" placeholder="9bfde55723bdc87d7eb5cd1cc7eb972e3a7a0846">
        </div>

	</div>
	</div>

	<div class="buttonanchor">
	<button type="button" class="btn btn-success" data-toggle="dropdown">
	Save
	</button>
	<button type="button" class="btn btn-danger" data-toggle="dropdown">
        Cancel
        </button>
	</div>
  </body>
</html>
