<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href="/stylesheets/bootstrap.css"/>
    <link rel='stylesheet' href="/stylesheets/window.css"/>
  </head>
  <body>
	<ol class="breadcrumb">
  		<li><a href="#">Home</a></li>
		<li class="active">Tables</li>
	</ol>	

	<div style="margin:5px;">


        <div class="btn-group btn-group-justified" style="width:50%;margin-left:auto;margin-right:auto;">
         <div class="btn-group">
           <button type="button" class="btn btn-default">Hourly</button>
         </div>
         <div class="btn-group">
           <button type="button" class="btn btn-default active">Daily</button>
         </div>
         <div class="btn-group">
           <button type="button" class="btn btn-default">3-Weekly</button>
         </div>
          <div class="btn-group">
           <button type="button" class="btn btn-default">Monthly</button>
         </div>
	</div>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:20px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:20px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-7kzq{font-size:10px;background-color:#efefef}
.tg .tg-bsv2{background-color:#efefef}
</style>
<br><br><br><br><br><br>

<table class="tg" style="width:90%;margin-left:auto;margin-right:auto;text-align:center;">
  <tr>
    <th class="tg-7kzq"></th>
    <th class="tg-bsv2">Monday</th>
    <th class="tg-bsv2">Tuesday</th>
    <th class="tg-bsv2">Wednesday</th>
    <th class="tg-bsv2">Thursday</th>
    <th class="tg-bsv2">Friday</th>
    <th class="tg-bsv2">Saturday</th>
    <th class="tg-bsv2">Sunday</th>
  </tr>
  <tr>
    <td class="tg-bsv2">pH</td>
    <td class="tg-031e">7.0</td>
    <td class="tg-031e">7.2</td>
    <td class="tg-031e">7.1</td>
    <td class="tg-031e">7.2</td>
    <td class="tg-031e">7.2</td>
    <td class="tg-031e">7.3</td>
    <td class="tg-031e">7.6</td>
  </tr>
  <tr>
    <td class="tg-bsv2">Temperature</td>
    <td class="tg-031e">20.9</td>
    <td class="tg-031e">24.8</td>
    <td class="tg-031e">26.4</td>
    <td class="tg-031e">24.5</td>
    <td class="tg-031e">22.6</td>
    <td class="tg-031e">20.2</td>
    <td class="tg-031e">21.5</td>
  </tr>
  <tr>
    <td class="tg-bsv2">Salinity</td>
    <td class="tg-031e">11000</td>
    <td class="tg-031e">12000</td>
    <td class="tg-031e">13500</td>
    <td class="tg-031e">14000</td>
    <td class="tg-031e">15000</td>
    <td class="tg-031e">16000</td>
    <td class="tg-031e">15200</td>
  </tr>
  <tr>
    <td class="tg-bsv2">Dissolved Oxygen</td>
    <td class="tg-031e">8.54</td>
    <td class="tg-031e">9.54</td>
    <td class="tg-031e">10.48</td>
    <td class="tg-031e">10.30</td>
    <td class="tg-031e">12.37</td>
    <td class="tg-031e">14.49</td>
    <td class="tg-031e">15.60</td>
  </tr>
</table>


  </body>
</html>
